<div class="ct au">
	<div class="pict"></div>
	<div class="au-m-menu">
		<div class="au-menu">
			<a href="#" class="m-active">Brief Ministry Info</a>
			<a href="#">How it all begun</a>
			<a href="#">Meet our CEO</a>
			<a href="#">Team LoveRealm</a>
			<a href="#">Statement of Faith</a>
			<a href="#">Press</a>
		</div>
	</div>
	<div class="clear"></div>
	<div class="abj">
		<div class="verse">
			<p>
				"I work tirelessly everyday; I sweat because of my passion:
				the hope that one day, by my effort, and your effort, everyone will
				come to the saving knowledge of Jesus Christ!"
			</p>
			<p class="fac">
				Yaw Ansong Jnr
			</p>
			<p class="fac av">
				Founder and CEO
				<br/>
				LoveRealm Ministry
			</p>
		</div>
		<div class="abj-ct">
			<p>
				You may have seen our slogan: "Projecting Christ".
				Sure you may be wondering: Who is Jesus Christ? "Jesus" is the Greek form of Hebrew Joshua,
				a common name that means "saviour". "<span style="font-weight: bold">Christ</span>" is a title that
				comes from the Greek form of the Hebrew Messiah, meaning: "anointed one". In effect Jesus Christ means:
				"The anointed saviour".
			</p>
		</div>
	</div>
</div>
