<div class="ct aj">
	<div class="pict"></div>
	<div class="clear"></div>
	<div class="abj">
		<div class="verse">
			<p>
				For God so loved the world that He gave His only begotten son that whoesoever
				believes in Him should not perish but have everlasting life.
			</p>
			<p class="av">John 3:16</p>
		</div>
		<div class="abj-ct">
			<p>
				You may have seen our slogan: "Projecting Christ".
				Sure you may be wondering: Who is Jesus Christ? "Jesus" is the Greek form of Hebrew Joshua,
				a common name that means "saviour". "<span style="font-weight: bold">Christ</span>" is a title that
				comes from the Greek form of the Hebrew Messiah, meaning: "anointed one". In effect Jesus Christ means:
				"The anointed saviour".
			</p>
		</div>
	</div>
</div>
