<div class="main">
	<div class="lp home"></div>
	<div class="ct home">
		<%= image_tag(image_path('banner.jpg'), :style=>"width: 97%")%>
		<br/>
		<div class="hst">
			<a href="#" class="selected">All Stories</a>
			<a href="#">Faith</a>
			<a href="#">News</a>
			<a href="#">Finances and Stewardship</a>
			<a href="#">Miscellanous</a>
			<a href="#" class="more">More</a>
		</div>
		<div class="stories">
			<div class="sp">
				<table>
					<tr>
						<td>
							<%=image_tag(image_path('girl.jpg'))%>
						</td>
						<td>
							<h4>Woman healed of cancer after time of bliss</h4>
							<p>
								After tying the knot on June 22, Georhe Lucas and Melody Hebson reportedly
								threw a huge wedding celebration on Saturday, June 29, in Chicago IL...
							</p>
							<div class="po">
								<a href="#">Love this post</a>
								<a href="#">Read Later</a>
								<a href="#" style="border-right: 0px none;">5 Comments</a>
								<div class="clear"></div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<hr/>
			<div class="sp">
				<table>
					<tr>
						<td>
							<%=image_tag(image_path('girl.jpg'))%>
						</td>
						<td>
							<h4>Woman healed of cancer after time of bliss</h4>
							<p>
								After tying the knot on June 22, Georhe Lucas and Melody Hebson reportedly
								threw a huge wedding celebration on Saturday, June 29, in Chicago IL...
							</p>
							<div class="po">
								<a href="#">Love this post</a>
								<a href="#">Read Later</a>
								<a href="#" style="border-right: 0px none;">5 Comments</a>
								<div class="clear"></div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<hr/>
		</div>
	</div>
	<div class="rp"></div>
</div>
