<div class="ct srp">
	<div class="search-result">
		<% 0.upto(10) do |i|%>
		<div class="s-result">
			<a href="#">Swifttype for wordpress: Full-text search worpress plugin</a>
			<p>
				<!-- this paragraph must be a summary from the post. rails will take care of shortening to relevant characters -->
				Plugins can extend WordPress to do almost anything you can imagine.
				In the directory you can find, download, rate, and comment on all the best plugins
				the WordPress community has to offer. bbPress is forum software, made the WordPress way...
			</p>
		</div>
		<%end %>
	</div>
	<div class="search-interest">
		<p>
			You migh be interested in:
		</p>
		<div class="interests">
			<%= image_tag('girl.jpg')%>
			<p>
				Why i love Jesus
			</p>
		</div>
		<div class="interests">
			<%= image_tag('girl.jpg')%>
			<p>
				Falling in love
			</p>
		</div>
		<div class="interests">
			<%= image_tag('girl.jpg')%>
			<p>
				Memories of us
			</p>
		</div>
	</div>
	<div class="clear"></div>
</div>
