<div class="myaccount">
	<%= render "users/dashboard/addcontent/addcontent"%>
	<div id="my-content">
		<div class="art" style="padding-top: 0px">
			<div class="art-hd">
				<h1>What I learned building Medium so far</h1>
				<a href="#" class="exp"></a>
				<div class="clear"></div>
			</div>
			<p class="summ">
				As of August last month, we are making impact building this medium of communication.
				We have tried to speck up all features so as to avoid confusion...
			</p
			<br/>
			<br/>
			<p class="art-det">
				Published on 23rd March 2014.
				. <a href="#">20 People Love this post</a> . <a href="#">5 Comments</a> . <a href="#">4 Reads</a>
			</p>
		</div>
		<div class="art">
			<div class="art-hd">
				<h1>What I learned building Medium so far</h1>
				<a href="#" class="exp"></a>
				<div class="clear"></div>
			</div>
			<p class="summ">
				As of August last month, we are making impact building this medium of communication.
				We have tried to speck up all features so as to avoid confusion...
			</p
			<br/>
			<br/>
			<p class="art-det">
				Published on 23rd March 2014.
				. <a href="#">20 People Love this post</a> . <a href="#">5 Comments</a> . <a href="#">4 Reads</a>
			</p>
		</div>
		<div class="art">
			<div class="art-hd">
				<h1>What I learned building Medium so far</h1>
				<a href="#" class="exp"></a>
				<div class="clear"></div>
			</div>
			<p class="summ">
				As of August last month, we are making impact building this medium of communication.
				We have tried to speck up all features so as to avoid confusion...
			</p
			<br/>
			<br/>
			<p class="art-det">
				Published on 23rd March 2014.
				. <a href="#">20 People Love this post</a> . <a href="#">5 Comments</a> . <a href="#">4 Reads</a>
			</p>
		</div>
	</div>
</div>
