<div class="myaccount">
	<p style="margin-bottom: 0px">
		<a id="add-account" data-active="false" href="#">+ Add Content</a><span id="status-update" style="display: none"> : Status Update</span>
	</p>
	<div id="status-update-panel" class="status-update">
		<textarea placeholder="Type your update here...."></textarea>
		<input type="submit" class="lg-btn post-update" value="Post Update" />
	</div>
	<div class="art" style="padding-top: 0px">
		<div class="art-hd">
			<h1>What I learned building Medium so far</h1>
			<a href="#" class="exp"></a>
			<div class="clear"></div>
		</div>
		<p class="summ">
			As of August last month, we are making impact building this medium of communication.
			We have tried to speck up all features so as to avoid confusion...
		</p
		<br/>
		<br/>
		<p class="art-det">
			Published on 23rd March 2014.
			. <a href="#">20 People Love this post</a> . <a href="#">5 Comments</a> . <a href="#">4 Reads</a>
		</p>
	</div>
	<div class="art">
		<div class="art-hd">
			<h1>What I learned building Medium so far</h1>
			<a href="#" class="exp"></a>
			<div class="clear"></div>
		</div>
		<p class="summ">
			As of August last month, we are making impact building this medium of communication.
			We have tried to speck up all features so as to avoid confusion...
		</p
		<br/>
		<br/>
		<p class="art-det">
			Published on 23rd March 2014.
			. <a href="#">20 People Love this post</a> . <a href="#">5 Comments</a> . <a href="#">4 Reads</a>
		</p>
	</div>
	<div class="art">
		<div class="art-hd">
			<h1>What I learned building Medium so far</h1>
			<a href="#" class="exp"></a>
			<div class="clear"></div>
		</div>
		<p class="summ">
			As of August last month, we are making impact building this medium of communication.
			We have tried to speck up all features so as to avoid confusion...
		</p
		<br/>
		<br/>
		<p class="art-det">
			Published on 23rd March 2014.
			. <a href="#">20 People Love this post</a> . <a href="#">5 Comments</a> . <a href="#">4 Reads</a>
		</p>
	</div>
</div>
