<div class="pref">
	<div class="pref-option">
		<span class="op-title">Your Profile</span>
		<a href="#" class="edit-profile">Edit</a>
		<div class="op-detail">
			<span>First Name: Yaw</span>
			<br/>
			<span>Surname: Ansong</span>
			<br/>
			<span>E-mail: yaw@loverealm.org</span>
			<br/>
			<span>Location: Accra, Ghana</span>
			<br/>
			<span>Born on: 10th September, 1980</span>
			<br/>
			<span>Sex: Male</span>
			<p>
				<span style="color: #C8140F">Short Bio Information:</span>
				<br/>
				I'm a guy who loves Jesus. I love the Holy Spirit, I love evangelism, and most of all, I love girls.
			</p>
		</div>
	</div>
	<div class="pref-option">
		<span class="op-title">Other Preferences</span>
		<div class="op-detail">
			<br/>
			<input type="radio" />
			<span class="in-val">Receive messages only from people i love</span>
			<br/>
			<br/>
			<input type="radio" checked="true" />
			<span class="in-val">Activate/Deactivate unlimited scrolling</span>
			<br/>
			<br/>
			<span class="font-size"> Font Size: <span class="s-small selected">a</span><span class="s-medium">a</span><span class="s-big">a</span> </span>
		</div>
	</div>
</div>
