<div class="notification-msg reply">
	<div class="notif-p-photo">
		<%= image_tag(image_path('account-pic.jpg'))%>
	</div>
	<div class="msg">
		<span class="name">Chris Gethard replied to your comment</span>
		<p class="message">
			Hey man, your post is very shallow! I expect intellectuals like you to post something better,
			not Lorem Ipsum Dolort Amid. What the heck!...
		</p>
		<div class="notif-options">
			<a href="#" class="msg-del">View Comment</a>
			<span class="date">10th December, 2014; 9:00AM Seen</span>
		</div>
	</div>
	<div class="clear"></div>
</div>
