<div class="notification-msg love-notif">
	<div class="notif-p-photo">
		<%= image_tag(image_path('account-pic.jpg'))%>
	</div>
	<div class="msg">
		<span class="name">Chris Gethard Loves you</span>
		<p class="message" style="margin-bottom: 30px">
			<a href="#" class="msg-del">View Comment</a>
		</p>
		<div class="notif-options">
			<span class="date">10th December, 2014; 9:00AM Seen</span>
		</div>
	</div>
	<div class="clear"></div>
</div>
