<div class="signin" type="myaccount">
	<span class="trn"></span>
	<div class="input">
		<div class="l-avatar">
			<%= image_tag(image_path('account-pic.jpg'))%>
			<div class="p-info">
				<div class="dt">
					<span class="name">Yaw Ansong</span>
					<br/>
					<span>Joined on 8th January, 2014</span>
					<br/>
					<span>Love score: 10</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<hr class="signin-sep" />
		<div class="acc-opt">
			<a href="/users/<%=current_user.email%>/dashboard">My Account</a>
			<a href="#">Notifications</a>
			<a href="#">Inbox</a>
			<div class="clear"></div>
		</div>
		<br/>
		<hr class="signin-sep" />
		<%= form_tag("/signout", method: "get") do %>
		<%= submit_tag("Sign Out", class: "lg-btn sign-out")%>
		<% end %>
	</div>
</div>
