<%= form_for(:session, url: sessions_path, remote: true) do |f| %>
<div class="signin" type="signin">
	<span class="trn"></span>
	<div class="input">
		<%= f.text_field :email, placeholder: "Email"%>
		<%= f.password_field :password, placeholder: "Password"%>
		<div class="xxx email"></div>
		<div class="xxx password"></div>
		<div class="capslock">CAPS ON</div>
		<%= f.submit class: "lg-btn", value: "Login"%>
		<hr class="signin-sep" />
		<div class="remember-me">
			<div class="inner">
				<input type="checkbox" />
				<span>Remember me next time</span>
			</div>
		</div>
		<br/>
		<div class="login-social">
			<span>Login with your social media account: </span>
			<div class="sep"></div>
			<a href="#" class="social-fb"></a>
			<a href="#" class="social-tw"></a>
			<a href="#" class="social-gp"></a>
			<div class="clear"></div>
		</div>
		<br/>
		<div class="join">
			<p>
				Don't have an account? <a href="#">Get a free account...</a>
			</p>
		</div>
	</div>
</div>
<% end %>
