div.main .lp.home{
  text-align: right;
  padding-top: 50px;
  width: 14%;
  position: relative;
  height: 400px;
}

div.main .lp.home .loverealm-info{
  position: absolute;
  bottom: 10px;
  text-align: left;
}

div.main .lp.home .loverealm-info a, div.main .lp.home .loverealm-info span{
  font-size: 12px;
}

div.main .lp.home .loverealm-info .use a{
  float: left;
  color: #C8140F;
  padding: 0px 5px;
}

div.main .lp.home .loverealm-info .use a:first-child{
  padding-left: 0px;
  border-right: 0.1em solid #dd6666;
}

div.main .lp.home a{
  text-decoration: none;
  display: block;
}

div.main .lp.home .active{
  color: #aaa;
}


div.main .ct.home{
margin-left: 1%;
}

div.main .ct.home h4, div.main .ct.home p{
  margin: 5px auto;
}
div.main .ct .hst-menu{
  overflow-x: auto;
}
div.main .ct .hst-menu .panel{
  display: none;
}
div.main .ct .hst{
  width: 95%;
  background: #C8140F;
  height: 30px;
  padding: 5px 1%;
  margin-top: 10px;
}

div.main .ct .hst a{
  color: #FF6666;
  text-decoration: none;
  padding: 4px 2%;
  display: block;
  float: left;
  font-weight: bold;
}

div.main .ct .hst a, div.main .ct .hst a.more span.icon-text{
  color: #FF8888;
}

div.main .ct .hst a.more span.icon-text, div.main .ct .hst a.more span.icon{
  float: left;
}
div.main .ct .hst a.more span.icon{
  background-image: url(image_path('888888_256x240_icons_icons.png'));
  background-repeat: no-repeat;
  width: 30px;
  height: 28px;
  background-position: -172px -51px;
  background-size: 2200%;
}

div.main .ct .hst a.selected{
  color: #fff;
}

div.main .ct.home .img{
  background-image: url(image_path('banner.jpg'));
  background-size: 100% 350px;
  width: 97%;
  height: 350px;
}

div.main .ct .stories{
  background: #fff;
  box-shadow: 0px 0px 1px 1px #f4f2f8;
  width: 95%;
  padding: 5px 1%;
}

div.main .ct.home .stories hr{
  width: 102%;
  margin-left: -1%;
}

div.main .ct.home .stories hr:last-child{
 display: none;
}


div.main .ct .stories .sp table tr td:first-child{
  width: 124px;
}

div.main .ct .stories .sp table tr td img{
  width: 120px;
  margin: 1px;
  border-radius: 100px;
  height: 130px;
}

div.main .ct .stories .sp .po a{
  color: #C8140F;
  display: block;
  padding: 0px 10px;
  float: left;
  border-right: 2px solid #C8140F;
  font-weight: bolder;
  text-decoration: none;
}
div.main .ct .stories .sp .po a:first-child{
  padding-left: 0px;
}

div.main .ct.home .stories .sp .po a:last-child{
  border-right: 0px none;
}

/*right panel*/

div.main .rp.home .info{
  width: 95%;
  margin: 2px 0 3% 1%;
  padding: 2px 2%;
  box-shadow: 0px 0px 2px 0.02em #c4d2d8;
  height: 100px;
  background: #fff;
  position: relative;
}

div.main .rp.home .info.pn{
  height: 170px;
}

div.main .rp.home .info .h8,
 div.main .rp.home .info p,
 div.main .rp.home .info .trend,
 div.main .rp.home .info .trend .txt
 {
  font-size: 9px;
  padding-left: 0px;
}

div.main .rp.home .info p{
  margin: 2px;
  font-size: 10px;
}

div.main .rp.home .info .trend{
  width: 48%;
  margin: 0px;
  padding: 0px;
  float: left;
  display: block;
  margin-top: 5px;
  padding-left: 3px;
  text-decoration: none;
}

div.main .rp.home .info .trend .txt{
  color: #C8140F;
  font-weight: bold;
  margin-left: 4px;
}

div.main .rp.home .info .trend .num{
  width: 20px;
  text-align: right;
}

div.main .rp.home .info .trend:last-child .txt{
  margin-left: 0px;
}

div.main .rp.home .info:nth-child(2){
  height: 110px;
}

div.main .rp.home .info .h8.hd{
  color: #C8140F; 
  font-weight: bolder;
   font-size: 14px;
    padding-top: 5px;
}

div.main .rp.home .info .social{
  position: absolute;
  bottom: 2px;
  width: 50%;
  height: 15px;
  padding-left: 3px;
}

div.main .rp.home .info .social a{
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 5px;
}

div.main .rp.home .info .social a.fb{
  background-image: url(image_path('f.jpg'));
}

div.main .rp.home .info .social a.tt{
  background-image: url(image_path('t.jpg'));
}

div.main .rp.home .info .social a.gp{
  background-image: url(image_path('l.jpg'));
}

// flikcr section
div.main .rp.home .info.flickr{
  height: 250px;
  overflow: hidden;
}
div.main .rp.home .info.flickr .flickrs{
  background-image: url(image_path('flikr.jpg'));
  background-position: 0 -60px;
  background-size: 100% 130%;
  height: 200px;
  width: 100%;
}
div.main .rp.home .info.flickr div.title, div.main .rp.home .info.flickr .r-green, div.main .rp.home .info.flickr .r-blue{
  float: left;
  margin-right: 15px;
  width: 40px;
  font-size: 20px;
  z-index: 34;
}
div.main .rp.home .info.flickr .r-green, div.main .rp.home .info.flickr .r-blue{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: #ff0077;
  margin-right: 2px;
  margin-top: 7px;
}

div.main .rp.home .info.flickr  p a.visit{
  text-decoration: none;
  color: #C8140F;
}

div.main .rp.home .info.flickr .r-blue{
  background: #0000ff;
}

@media only screen and (min-width: 810px){
  div.main .rp.home{
    padding-top: 0px;
  }
  div.main .rp.home .info{
    height: 150px;
    padding-top: 15px;
  }
  
div.main .rp.home .info:nth-child(2){
  height: 160px;
}
  
div.main .rp.home .info .h8,
 div.main .rp.home .info p,
 div.main .rp.home .info .trend,
 div.main .rp.home .info .trend .txt
 {
  font-size: 0.95em;
  padding-left: 0px;
}


  div.main .rp.home .info .h8, div.main .rp.home .info .h8.hd{
font-size: 20px;
font-weight: bolder;
}


div.main .rp.home .info .social{
  height: 20px;
}

div.main .rp.home .info .social a{
  width: 18px;
  height: 18px;
  margin-right: 10px;
}


}

@media only screen and (max-width: 800px){
  div.main .lp.home{
    display: none;
  }
  div.main .ct.home{
    margin-left: 0px;
    width: 64%;
    margin-top: -5px;
  }
  div.main .rp.home {
    width: 35%;
    float: right;
    margin-top: -5px;
    padding-top: 0px;
  }
  div.main .ct.home .img{
    background-size: 97% 250px;
    height: 250px;
  }
  div.main .ct .hst{
    height: 20px;
  }
  div.main .ct .hst a{
    font-size: 11px;
    padding: 4px 1.8%;
  }
  div.main .ct .hst a.more{
    background-position: 100% 7px;
    background-size: 10px 10px;
    padding-left: 0px;
    padding-right: 3%;
  }
  div.main .ct .stories .sp table tr td:first-child{
  width: 80px;
}

div.main .ct .stories .sp table tr td img{
  width: 80px;
  height: 90px;
}

div.main .ct .stories .sp table tr td h4{
  font-size: 12px;
}

div.main .ct .stories .sp table tr td p{
  font-size: 10px;
}

div.main .ct .stories .sp table tr td a{
  font-size: 10px;
}
div.main .ct.home .stories hr{
  width: 101.7%;
}
@media only screen and (max-width: 600px){
  div.main .ct.home .img{
    background-size: 97% 200px;
    height: 200px;
  }
  div.main .ct .hst-menu{
    width: 97%;
    padding: 0px;
    margin: 0px;
  }
  div.main .ct .hst{
    width: 140%;
  }
}
@media only screen and (max-width: 500px){
  div.header .main{
    margin-bottom: 0px;
  }
  div.main .rp.home{
    display: none;
  }
  div.main.home{
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: -60px;
  }
  div.main .ct.home{
    width: 100%;
    margin: 0%;
    padding: 0;
    position: inherit;
  }
  div.main .ct.home .img{
    background-position: 100% 100%;
    background-size: 220% 220%;
    width: 100%;
    height: 160px;
  }
  div.main .ct .hst{
    width: 150%;
  }
  div.main .ct .stories{
    width: 98.9%;
    padding: 0;
    margin: 0px;
  }
  div.main .ct .hst-menu{
    width: 100%;
  }
  div.main .ct .hst-menu .panel, div.main .ct .hst-menu .hst{
    display: block;
    width: 120%;
    padding: 10px 0px;
  }
  div.main .ct .hst-menu .panel .info{
    background: #fff;
    width: 30%;
    float: left;
    box-shadow: 0px 0px 2px 1px #d4d2d8;
    height: 90px;
  }
  div.main .ct .hst-menu .panel .info:first-child{
    border-left: 0px none;
    margin-right: 5%;
  }
  div.main .ct .hst-menu .panel .info.lc{
    background-image: url(image_path('banner.jpg'));
    background-position: 100% 0%;
    background-size: 220% 220%;
    margin-right: 0;
    border-right: 0px none;
    margin-left: 5%;
  }
  div.main .ct .hst-menu .panel .info img{
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 400px){
  div.main .ct .hst-menu .panel, div.main .ct .hst-menu .hst{
    width: 200%;
  }
  div.main .ct .stories .sp .po a{
    font-size: 9px;
  }
}

@media only screen and (max-width: 250px){
  div.main .ct .hst-menu .panel, div.main .ct .hst-menu .hst{
    width: 250%;
  }
  div.main .ct .stories .sp .po a{
    text-align: left;
    display: block;
    border: 0px none;
    padding: 0px;
    margin: 0px;
    width: 90%;
  }
  div.main .ct .stories .sp table tr td:first-child{
    width: 50px;
  }
  div.main .ct .stories .sp table tr td img{
  width: 40px;
  height: 50px;
}
}
}