<div class="inbox-msg">
	<div class="im-p-photo">
		<%= image_tag(image_path('account-pic.jpg'))%>
	</div>
	<div class="msg">
		<span class="name">Chris Gethard</span>
		<p class="message">
			The law in England authorises marriages to be legal if properly carried out and registered
			in the Church of England and some other religious bodies (e.g. Jewish, Quakers):
			other men and women who wish to marry can be married by a local official authorised to
			do so (civil ceremony). Circumstances may result in the same partners having both ceremonies
			at different times though this is rare. The vows, presence of witnesses and civil registration
			are absolute requirements under the law
		</p>
		<a href="#" class="msg-del">Delete</a>
		<span class="date">10th December, 2014; 9:00AM Seen</span>
	</div>
	<div class="clear"></div>
</div>
