<div class="p-i-love">
	<div class="notif-p-photo">
		<%= image_tag(image_path('account-pic.jpg'))%>
	</div>
	<div class="msg">
		<span class="name">Chris Gethard</span>
		<p class="message">
			Community Member. A very short and not down to earth guy who has this notion of perfection,
			yet he lacks it in all its entirety. Registered on: 12th March 2014. He's the 30000th most loved
			person in this community.
		</p>
		<div class="notif-options">
			<a href="#" class="msg-del">Unlove Chris</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
