<div class="p-i-love suggested-p">
	<div class="notif-p-photo">
		<%= image_tag(image_path('account-pic.jpg'))%>
	</div>
	<div class="msg">
		<span class="name">Chris Gethard</span>
		<p class="message">
			500 People Love Chris
		</p>
		<div class="notif-options">
			<a href="#" class="msg-del">Love</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
